Repository smclab/openk9: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Latest OSGI Docker Images, JS Format Lint Test and Build Check, Build Latest JS Docker Images, build osgi, Build Latest OSGI Docker Image

Path conditions:
  Build Latest OSGI Docker Images: any of: osgi/**/*, build-dist.gradle, plugins/web/src/**/*, plugins/email/src/**/*, plugins/liferay/src/**/*
  JS Format Lint Test and Build Check: any of: js-packages/**/*
  Build Latest JS Docker Images: any of: js-packages/**/*
  build osgi: any of: osgi/**/*, plugins/**/*, build-dist.gradle
  Build Latest OSGI Docker Image: any of: osgi/**/*, plugins/**/*, build-dist.gradle

Added js enrich plugin in gradle config
  build-dist.gradle
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Fixed github build action
  .github/workflows/docker-publish-core.yml
Due: none

Removed findByVitualHost in /reindex endpoint
  osgi/ingestion/ingestion-driver-manager-datasource-service/src/main/java/io/openk9/ingestion/driver/manager/internal/web/handler/ReindexHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

redirect rabbitmq stream to internal reactor Flux
  osgi/entity-manager/entity-manager-subscriber-service/src/main/java/io/openk9/entity/manager/subscriber/service/internal/EntityManagerResponseConsumerImpl.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

added timeout on message response consumer
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Configuration osgi improvements and SF
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/EnrichProcessorServiceTracker.java
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/ProcessorRegistry.java
  osgi/util/groovy-script-web/src/main/java/io/openk9/util/script/groovy/web/GroovyScriptHttpHandler.java
  plugins/js-enrich-plugin/src/main/java/io/openk9/plugins/js/enrichprocessor/JsEnrichProcessor.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Added stopWatch
  osgi/entity-manager/entity-manager-logic/bnd.bnd
  osgi/entity-manager/entity-manager-logic/build.gradle
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntitiesConsumer.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Added prefetch in enrichProcessors
  osgi/entity-manager/entity-manager-subscriber-service/src/main/java/io/openk9/entity/manager/subscriber/service/internal/EntityManagerResponseConsumerImpl.java
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/EnrichProcessorServiceTracker.java
  osgi/util/groovy-script-service/src/main/java/io/openk9/util/script/groovy/internal/GroovyScriptExecutorImpl.java
  osgi/util/groovy-script-web/src/main/java/io/openk9/util/script/groovy/web/GroovyScriptHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

replace concatMap with flatMap
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/EnrichProcessorServiceTracker.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

replace autoAck to manualAck
  osgi/ingestion/ingestion-api/src/main/java/io/openk9/ingestion/api/BundleReceiver.java
  osgi/ingestion/ingestion-service/src/main/java/io/openk9/ingestion/rabbitmq/bind/BundleReceiverImpl.java
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/EnrichProcessorServiceTracker.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

removed consumer timeout
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Publish
  js-packages/admin-ui/package.json
  js-packages/http-api/package.json
  js-packages/js-scripts-executor/package.json
  js-packages/search-standalone-frontend/package.json
  js-packages/search-ui-components/package.json
  plugins/email/js/package.json
  plugins/js-enrich-plugin/js/package.json
  plugins/liferay/js/package.json
  plugins/web/js/package.json
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images, build osgi, Build Latest OSGI Docker Image

Publish login info on page global on frontend for plugins
  js-packages/search-standalone-frontend/src/state.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Export TokenIcon component
  js-packages/search-ui-components/src/components/InputSuggestionTokensDisplay.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

WIP new bar
  js-packages/http-api/src/api/suggestionsAPI.ts
  js-packages/search-standalone-frontend/package.json
  js-packages/search-standalone-frontend/src/components/NewBar.tsx
  js-packages/search-standalone-frontend/src/containers/SearchQueryInput.tsx
  js-packages/search-standalone-frontend/src/containers/SearchResults.tsx
  js-packages/search-standalone-frontend/src/state.ts
  yarn.lock
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Allow disable category in new menu bar
  js-packages/search-standalone-frontend/src/components/NewBar.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed typo
  js-packages/search-standalone-frontend/src/components/NewBar.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Communication to EntityManager changed to http
  build-dist.gradle
  build.gradle
  entity-manager/configs/io.openk9.entity.manager.logic.GetOrAddEntities.k9
  osgi/common/common-api/bnd.bnd
  osgi/common/common-api/build.gradle
  osgi/common/common-api/src/main/java/io/openk9/common/api/reactor/util/ReactorStopWatch.java
  osgi/common/third-party/bnd.bnd
  osgi/common/third-party/build.gradle
  osgi/entity-manager/entity-manager-client-service/src/main/java/io/openk9/entity/manager/client/internal/EntityManagerClientImpl.java
  osgi/entity-manager/entity-manager-logic/bnd.bnd
  osgi/entity-manager/entity-manager-logic/build.gradle
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntities.java
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntitiesConsumer.java
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntitiesHttpHandler.java
  osgi/search/search-enrich-api/build.gradle
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/ProcessorRegistry.java
  plugins/email/src/main/java/io/openk9/plugins/email/enrichprocessor/EmailNerEnrichProcessor.java
  plugins/liferay/src/main/java/io/openk9/plugins/liferay/enrichprocessor/LiferayNerEnrichProcessor.java
  plugins/web/src/main/java/io/openk9/plugins/web/enrichprocessor/WebNerEnrichProcessor.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Fixed coming soon url in website
  js-packages/docs-website/src/pages/comingsoon.js
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added missing export-package
  osgi/common/third-party/bnd.bnd
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Setted prefetch default configuration to 1
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/EnrichProcessorServiceTracker.java
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/ProcessorRegistry.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Added filter to documents to be indexed
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntities.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Added endpoint #115
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/BaseSearchHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/SuggestionsHTTPHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Fix
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/SuggestionsHTTPHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

added retry on ner http request
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

WIP New bar (istat)
  js-packages/http-api/src/api/suggestionsAPI.ts
  js-packages/http-api/src/types/entityTypes.ts
  js-packages/http-api/src/types/searchQueryTypes.ts
  js-packages/http-api/src/types/suggestionTypes.ts
  js-packages/search-standalone-frontend/src/components/NewBar.tsx
  js-packages/search-standalone-frontend/src/containers/SearchQueryInput.tsx
  js-packages/search-standalone-frontend/src/state.ts
  js-packages/search-ui-components/src/components/InputSuggestionTokensDisplay.tsx
  js-packages/search-ui-components/src/components/SearchQueryField.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added capitalize util
  js-packages/http-api/src/utilities.ts
  js-packages/search-ui-components/src/utils/index.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added default token icon as tag
  js-packages/search-ui-components/src/components/InputSuggestionTokensDisplay.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Typescrpt fix
  js-packages/http-api/src/utilities.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added and operator in entities search
  osgi/entity-manager/entity-manager-api/src/main/java/io/openk9/entity/manager/api/EntityNameCleaner.java
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/LocationEntityNameCleaner.java
  osgi/index-writer/index-writer-entity-web/src/main/java/io/openk9/index/writer/web/IndexWriterEndpoins.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Fixed pointer cursor for new search bar
  js-packages/search-standalone-frontend/src/components/NewBar.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed bug when adding token
  js-packages/search-standalone-frontend/src/components/NewBar.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Bigger searchbar
  js-packages/search-ui-components/src/theme.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Don't keep search open always
  js-packages/search-standalone-frontend/src/containers/SearchQueryInput.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Suggestion order
  js-packages/http-api/src/api/suggestionsAPI.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Filter in server suggestions
  js-packages/http-api/src/api/suggestionsAPI.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added focustoken handling in new bar
  js-packages/search-standalone-frontend/src/components/NewBar.tsx
  js-packages/search-standalone-frontend/src/containers/SearchQueryInput.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fix for istat and lower case search
  js-packages/http-api/src/api/suggestionsAPI.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed TS types for API
  js-packages/http-api/src/types/entityTypes.ts
  js-packages/http-api/src/types/searchQueryTypes.ts
  js-packages/http-api/src/types/suggestionTypes.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Moved FieldEntityBrowser
  js-packages/search-standalone-frontend/src/containers/SearchQueryInput.tsx
  js-packages/search-ui-components/src/components/FieldEntityBrowser.tsx
  js-packages/search-ui-components/src/components/index.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images
