Repository smclab/openk9: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Latest OSGI Docker Images, JS Format Lint Test and Build Check, Build Latest JS Docker Images, build osgi, Build Latest OSGI Docker Image, Build Latest Parser Docker Images

Path conditions:
  Build Latest OSGI Docker Images: any of: osgi/**/*, build-dist.gradle, plugins/web/src/**/*, plugins/email/src/**/*, plugins/liferay/src/**/*
  JS Format Lint Test and Build Check: any of: js-packages/**/*
  Build Latest JS Docker Images: any of: js-packages/**/*
  build osgi: any of: osgi/**/*, plugins/**/*, build-dist.gradle
  Build Latest OSGI Docker Image: any of: osgi/**/*, plugins/**/*, build-dist.gradle
  Build Latest Parser Docker Images: any of: plugins/web/web-parser/**/*, plugins/email/email-parser/**/*, plugins/liferay/liferay-parser/**/*

fix on all jobs
  .gitlab/.gitlab-ci-core.yml
  .gitlab/.gitlab-ci-js.yml
  .gitlab/.gitlab-ci-parser.yml
Due: none

try to fix core jobs
  .gitlab/.gitlab-ci-core.yml
Due: none

fix deploy job
  .gitlab/.gitlab-ci.yml
Due: none

Added search in websocket way
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/websocket/SearchWebSocketHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/websocket/WSSearchMessage.java
  osgi/web/http-api/src/main/java/io/openk9/http/socket/WebSocketSession.java
  osgi/web/http-service/src/main/java/io/openk9/internal/http/HttpEnpointRoutes.java
  osgi/web/http-service/src/main/java/io/openk9/internal/http/ws/WebSocketSessionFactory.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

refactoring netty integration
  osgi/web/http-service/src/main/java/io/openk9/internal/http/HttpEnpointRoutes.java
  osgi/web/http-service/src/main/java/io/openk9/internal/http/ReactorNettyActivator.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Improvements in the dependencies management
  build-dist.gradle
  build.gradle
  osgi/common/reactor-agent/bnd.bnd
  osgi/common/reactor-agent/build.gradle
  osgi/common/reactor-agent/src/main/java/io/openk9/reactor/agent/Activator.java
  osgi/common/third-party/bnd.bnd
  osgi/common/third-party/build.gradle
  osgi/common/third-party/src/main/java/io/openk9/third/party/Activator.java
  osgi/third-party/apache/bnd.bnd
  osgi/third-party/apache/build.gradle
  osgi/third-party/jackson/bnd.bnd
  osgi/third-party/jackson/build.gradle
  osgi/third-party/micrometer/bnd.bnd
  osgi/third-party/micrometer/build.gradle
  osgi/third-party/reactive-streams/bnd.bnd
  osgi/third-party/reactive-streams/build.gradle
  osgi/third-party/reactor-netty/bnd.bnd
  osgi/third-party/reactor-netty/build.gradle
  osgi/third-party/reactor/bnd.bnd
  osgi/third-party/reactor/build.gradle
  osgi/third-party/vavr/bnd.bnd
  osgi/third-party/vavr/build.gradle
  osgi/web/http-service/bnd.bnd
  osgi/web/http-service/src/main/java/io/openk9/internal/http/ReactorNettyActivator.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

typo
  build-dist.gradle
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

fix websocket support
  osgi/web/http-service/src/main/java/io/openk9/internal/http/HttpEnpointRoutes.java
  osgi/web/http-service/src/main/java/io/openk9/internal/http/ReactorNettyActivator.java
  osgi/web/http-service/src/main/java/io/openk9/internal/http/util/ClassLoaderUtil.java
  osgi/web/http-service/src/main/java/io/openk9/internal/http/util/UrlUtil.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

WIP Search widget
  js-packages/search-widget-frontend/.proxyrc.js
  js-packages/search-widget-frontend/public/index.html
  js-packages/search-widget-frontend/src/SearchApp.tsx
  js-packages/search-widget-frontend/src/index.tsx
  js-packages/search-widget-frontend/src/state.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added license info in widgets
  js-packages/search-widget-frontend/.proxyrc.js
  js-packages/search-widget-frontend/src/index.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Upgrade zustand and plugin-scripts deps
  js-packages/admin-ui/package.json
  js-packages/search-standalone-frontend/package.json
  js-packages/search-widget-frontend/package.json
  plugins/applications/js/package.json
  plugins/email/js/package.json
  plugins/js-enrich-plugin/js/package.json
  plugins/liferay/js/package.json
  plugins/web/js/package.json
  yarn.lock
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images, build osgi, Build Latest OSGI Docker Image

Added compat mode in plugin deps loader
  js-packages/search-standalone-frontend/src/index.tsx
  js-packages/search-ui-components/src/utils/dynamicPluginLoader.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

HTTP dev proxy setup for widgets
  js-packages/search-widget-frontend/.proxyrc.js
  js-packages/search-widget-frontend/package.json
  js-packages/search-widget-frontend/pnpm-lock.yaml
  yarn.lock
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added initial search-widget structure
  .gitignore
  js-packages/.gitignore
  js-packages/search-widget-frontend/.eslintrc.js
  js-packages/search-widget-frontend/.lintstagedrc
  js-packages/search-widget-frontend/package.json
  js-packages/search-widget-frontend/public/index.html
  js-packages/search-widget-frontend/src/index.tsx
  js-packages/search-widget-frontend/tsconfig.json
  yarn.lock
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Move caffeine dependency in third-party folder and managed bnd files
  build-dist.gradle
  osgi/third-party/caffeine/bnd.bnd
  osgi/third-party/caffeine/build.gradle
  osgi/third-party/micrometer/bnd.bnd
  osgi/third-party/reactive-streams/bnd.bnd
  osgi/third-party/reactor-netty/bnd.bnd
  osgi/third-party/reactor/bnd.bnd
  osgi/third-party/vavr/bnd.bnd
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

removed unnecessary dependency
  osgi/auth/auth-keycloak-service/build.gradle
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Revert bnd files
  osgi/third-party/micrometer/bnd.bnd
  osgi/third-party/reactor-netty/bnd.bnd
  osgi/third-party/reactor/bnd.bnd
  osgi/third-party/vavr/bnd.bnd
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Fix bnd headers
  osgi/third-party/caffeine/bnd.bnd
  osgi/third-party/micrometer/bnd.bnd
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Removed deprecated token component
  js-packages/search-ui-components/src/components/InputSuggestionTokensDisplay.tsx
  js-packages/search-ui-components/src/components/index.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Docs for search-ui-components
  js-packages/search-ui-components/README.md
  js-packages/search-ui-components/src/components/Brand.tsx
  js-packages/search-ui-components/src/components/Dockbar.tsx
  js-packages/search-ui-components/src/components/EntityListDisplay.tsx
  js-packages/search-ui-components/src/components/FieldSuggestionBrowser.tsx
  js-packages/search-ui-components/src/components/Highlight.tsx
  js-packages/search-ui-components/src/components/ImageSlider.tsx
  js-packages/search-ui-components/src/components/MultipleSelectionBar.tsx
  js-packages/search-ui-components/src/components/ResultCard.tsx
  js-packages/search-ui-components/src/components/SearchQueryField.tsx
  js-packages/search-ui-components/src/components/TokenIcon.tsx
  js-packages/search-ui-components/src/utils/dynamicPluginLoader.ts
  js-packages/search-ui-components/src/utils/ellipseText.ts
  js-packages/search-ui-components/src/utils/index.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Managed neo4j transactions
  build.gradle
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntitiesHttpHandler.java
  osgi/entity-manager/neo4j-relationship-graph-impl/build.gradle
  osgi/entity-manager/neo4j-relationship-graph-impl/src/main/java/io/openk9/neo4j/relationship/graph/client/Neo4jGraphClient.java
  osgi/entity-manager/relationship-graph-api/build.gradle
  osgi/entity-manager/relationship-graph-api/src/main/java/io/openk9/relationship/graph/api/client/GraphClient.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Tuning props neo4j and fix transaction in disabiguation
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntities.java
  osgi/entity-manager/neo4j-relationship-graph-impl/src/main/java/io/openk9/neo4j/relationship/graph/Neo4jGraphConnection.java
  osgi/entity-manager/neo4j-relationship-graph-impl/src/main/java/io/openk9/neo4j/relationship/graph/client/Neo4jGraphClient.java
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/EnrichProcessorServiceTracker.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Dev info for admin ui
  js-packages/admin-ui/README.md
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed deprecated bodyParser
  js-packages/js-scripts-executor/src/index.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Tuning neo4j configuration
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/DisambiguationProcessor.java
  osgi/entity-manager/neo4j-relationship-graph-impl/src/main/java/io/openk9/neo4j/relationship/graph/Neo4jGraphConnection.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Fix url 'Contact Us'
  js-packages/docs-website/docs/intro.md
  js-packages/docs-website/docusaurus.config.js
  js-packages/docs-website/src/pages/index.js
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added aggregationSize configuration
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/SuggestionsHTTPHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Added transactional configuration
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntitiesHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

fix get favicon method to avoid loop
  plugins/web/web-parser/app/crawler/spiders/util.py
Due: build osgi, Build Latest OSGI Docker Image, Build Latest Parser Docker Images

transform body in json in parsers
  plugins/email/email-parser/app/imap/imap_extraction.py
  plugins/liferay/liferay-parser/app/liferay/calendar/calendar_extraction.py
  plugins/liferay/liferay-parser/app/liferay/dml/dml_extraction.py
  plugins/liferay/liferay-parser/app/liferay/user/user_extraction.py
  plugins/web/web-parser/app/crawler/spiders/crawler_spider.py
Due: build osgi, Build Latest OSGI Docker Image, Build Latest Parser Docker Images

Added delete entities endpoint #127
  build-dist.gradle
  osgi/index-writer/index-writer-entity-web/build.gradle
  osgi/index-writer/index-writer-entity-web/src/main/java/io/openk9/index/writer/web/IndexWriterEndpoins.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

added org.reactivestreams Import-Package explicitally
  osgi/common/reactory-netty-util/bnd.bnd
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Fix http endpoints
  osgi/common/reactory-netty-util/src/main/java/io/openk9/reactor/netty/util/HttpPredicateV2.java
  osgi/database/repository-http-service/src/main/java/io/openk9/repository/http/internal/util/ReactiveRepositoryHttpHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/EntitySearchHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/SearchByDatasourceHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/SearchHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/SuggestionsHTTPHandler.java
  osgi/web/http-service/src/main/java/io/openk9/internal/http/ReactorNettyActivator.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Invoke clean-orphan-entities after delete-data-documents
  osgi/index-writer/index-writer-entity-web/src/main/java/io/openk9/index/writer/web/IndexWriterEndpoins.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

added wiretape format configurable
  osgi/web/http-service/src/main/java/io/openk9/internal/http/ReactorNettyActivator.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

set defalut wiretapFormato to HEX_DUMP
  osgi/web/http-service/src/main/java/io/openk9/internal/http/ReactorNettyActivator.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

fix on parsers json payload
  plugins/email/email-parser/app/imap/imap_extraction.py
  plugins/liferay/liferay-parser/app/liferay/calendar/calendar_extraction.py
  plugins/liferay/liferay-parser/app/liferay/dml/dml_extraction.py
  plugins/liferay/liferay-parser/app/liferay/user/user_extraction.py
  plugins/web/web-parser/app/crawler/spiders/crawler_spider.py
Due: build osgi, Build Latest OSGI Docker Image, Build Latest Parser Docker Images

updated version of reactor
  build.gradle
Due: none

Fix reactor netty bnd.bnd
  osgi/third-party/reactor-netty/bnd.bnd
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image
