Repository smclab/openk9: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Latest OSGI Docker Images, JS Format Lint Test and Build Check, Build Latest JS Docker Images, build osgi, Build Latest OSGI Docker Image, Build Latest Parser Docker Images

Path conditions:
  Build Latest OSGI Docker Images: any of: osgi/**/*, build-dist.gradle, plugins/web/src/**/*, plugins/email/src/**/*, plugins/liferay/src/**/*
  JS Format Lint Test and Build Check: any of: js-packages/**/*
  Build Latest JS Docker Images: any of: js-packages/**/*
  build osgi: any of: osgi/**/*, plugins/**/*, build-dist.gradle
  Build Latest OSGI Docker Image: any of: osgi/**/*, plugins/**/*, build-dist.gradle
  Build Latest Parser Docker Images: any of: plugins/web/web-parser/**/*, plugins/email/email-parser/**/*, plugins/liferay/liferay-parser/**/*

Managed exceptions in best way
  osgi/third-party/reactor-netty/bnd.bnd
  osgi/web/http-service/src/main/java/io/openk9/internal/http/ReactorNettyActivator.java
  osgi/web/http-service/src/main/java/io/openk9/internal/http/exception/HttpExceptionHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Added api to manage database transation
  osgi/database/sql-api/src/main/java/io/openk9/sql/api/client/DatabaseClient.java
  osgi/database/sql-api/src/main/java/io/openk9/sql/api/client/DatabaseClientUtil.java
  osgi/database/sql-service/src/main/java/io/openk9/sql/internal/client/DatabaseClientImpl.java
  osgi/database/sql-service/src/main/java/io/openk9/sql/internal/client/util/DatabaseClientUtil.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

FIX Spec. Rule 1.3...
  osgi/ingestion/ingestion-logic-service/src/main/java/io/openk9/ingestion/logic/internal/IngestionLogicImpl.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

added config file to index-writer
  index-writer/configs/io.openk9.datasource.client.internal.DatasourceClientImpl.cfg
Due: none

fixed core ci job with new rules
  .gitlab/.gitlab-ci-core.yml
Due: none

Update io.openk9.datasource.client.internal.DatasourceClientImpl.cfg
  index-writer/configs/io.openk9.datasource.client.internal.DatasourceClientImpl.cfg
Due: none

#132 #130 added static resources management
  osgi/common/model/src/main/java/io/openk9/model/BinaryPayload.java
  osgi/common/model/src/main/java/io/openk9/model/IngestionPayload.java
  osgi/common/model/src/main/java/io/openk9/model/ResourcesPayload.java
  osgi/datasource/datasource-queue/src/main/java/io/openk9/datasource/queue/DatasourceIngestionLogic.java
  osgi/ingestion/ingestion-queue/src/main/java/io/openk9/ingestion/queue/IngestionEndpoint.java
  osgi/search/search-client-writer/src/main/resources/component/base-data-component-template.json
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/EnrichPipelineProcessor.java
  osgi/search/search-service/build.gradle
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/BaseSearchHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/ResourcesHttpHandler.java
  osgi/web/http-api/src/main/java/io/openk9/http/util/HttpUtil.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

#132 Added acl query
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/ResourcesHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Decreased scrolling time value
  osgi/index-writer/index-writer-entity-web/src/main/java/io/openk9/index/writer/web/IndexWriterEndpoins.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Replace Instant to LocalDateTime
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/ResourcesHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Replace LocalDateTime with ZonedDateTime
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/ResourcesHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Fix last-modified
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/ResourcesHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Fix searchRequest creation
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/ResourcesHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Split CI file
  .gitlab/.gitlab-ci-core.yml
  .gitlab/.gitlab-ci-datasource.yml
  .gitlab/.gitlab-ci-entity-manager.yml
  .gitlab/.gitlab-ci-index-writer.yml
  .gitlab/.gitlab-ci-ingestion.yml
  .gitlab/.gitlab-ci-plugin-driver-manager.yml
  .gitlab/.gitlab-ci-searcher.yml
  .gitlab/.gitlab-ci.yml
  build.gradle
Due: none

Fix jobs:build latest datasource docker images:rules:rule changes is too long (maximum is 50 characters)
  .gitlab/.gitlab-ci-datasource.yml
  .gitlab/.gitlab-ci-entity-manager.yml
  .gitlab/.gitlab-ci-index-writer.yml
  .gitlab/.gitlab-ci-plugin-driver-manager.yml
  .gitlab/.gitlab-ci-searcher.yml
Due: none

Fix geting binaries
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/ResourcesHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Update .gitlab-ci-searcher.yml
  .gitlab/.gitlab-ci-searcher.yml
Due: none

Update io.openk9.internal.http.ReactorNettyActivator.cfg
  searcher/configs/io.openk9.internal.http.ReactorNettyActivator.cfg
Due: none

Update build.gradle
  osgi/search/search-service/build.gradle
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Update build.gradle
  osgi/index-writer/index-writer-model/build.gradle
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Update build.gradle
  osgi/index-writer/index-writer-entity-model/build.gradle
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Fix build.gradle
  build.gradle
Due: none

Update .gitlab-ci.yml
  .gitlab/.gitlab-ci.yml
Due: none

Added max-age into cache-control header
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/ResourcesHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Move trigger_deploy in script action
  .gitlab/.gitlab-ci-datasource.yml
  .gitlab/.gitlab-ci-entity-manager.yml
  .gitlab/.gitlab-ci-index-writer.yml
  .gitlab/.gitlab-ci-ingestion.yml
  .gitlab/.gitlab-ci-plugin-driver-manager.yml
  .gitlab/.gitlab-ci-searcher.yml
  searcher/configs/io.openk9.internal.http.ReactorNettyActivator.cfg
Due: none

Added **/* suffix
  .gitlab/.gitlab-ci-datasource.yml
  .gitlab/.gitlab-ci-entity-manager.yml
  .gitlab/.gitlab-ci-index-writer.yml
  .gitlab/.gitlab-ci-ingestion.yml
  .gitlab/.gitlab-ci-plugin-driver-manager.yml
  .gitlab/.gitlab-ci-searcher.yml
Due: none

Use camel-case Cache HTTP headers
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/ResourcesHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

fixed ci job to deploy demo
  .gitlab/.gitlab-ci.yml
Due: none

refactoring web-parser in better way; added tika with ocr
  plugins/web/web-parser/Dockerfile
  plugins/web/web-parser/README.md
  plugins/web/web-parser/app/crawler/items.py
  plugins/web/web-parser/app/crawler/pipelines.py
  plugins/web/web-parser/app/crawler/settings.py
  plugins/web/web-parser/app/crawler/spiders/crawler_spider.py
  plugins/web/web-parser/app/crawler/spiders/sitemap_spider.py
  plugins/web/web-parser/app/crawler/spiders/util.py
  plugins/web/web-parser/app/crawler/spiders/util/__init__.py
  plugins/web/web-parser/app/crawler/spiders/util/generic/utility.py
  plugins/web/web-parser/app/crawler/spiders/util/sitemap/utility.py
  plugins/web/web-parser/app/crawler/spiders/util/tika/utility.py
  plugins/web/web-parser/app/main.py
  plugins/web/web-parser/app/static/css/swagger-ui.css
  plugins/web/web-parser/app/static/img/favicon-16x16.png
  plugins/web/web-parser/app/static/img/favicon-32x32.png
  plugins/web/web-parser/app/static/js/swagger-ui-bundle.js
  plugins/web/web-parser/app/static/js/swagger-ui-es-bundle-core.js
  plugins/web/web-parser/app/static/js/swagger-ui-es-bundle.js
  plugins/web/web-parser/app/static/js/swagger-ui-standalone-preset.js
  plugins/web/web-parser/app/static/js/swagger-ui.js
  plugins/web/web-parser/app/static/log/log_config.json
  plugins/web/web-parser/app/static/openapi.json
  plugins/web/web-parser/app/templates/swaggerui.html
  plugins/web/web-parser/docker-entrypoint.sh
  plugins/web/web-parser/requirements.txt
  plugins/web/web-parser/tika-configs/ocr/org/apache/tika/parser/ocr/TesseractOCRConfig.properties
  plugins/web/web-parser/tika-configs/ocr/tika-config.xml
Due: build osgi, Build Latest OSGI Docker Image, Build Latest Parser Docker Images
