Repository smclab/openk9: changes, and which GitLab CI jobs are due for each by the changed paths.
All: JS Format Lint Test and Build Check, Build Latest JS Docker Images, build osgi, Build Latest OSGI Docker Image

JS Format Lint Test and Build Check:
  image: node:13.13
  stage: quality
  before_script:
  - echo -e "$NPM_TOKEN" > ~/.npmrc
  - chmod 600  ~/.npmrc
  - cd openk9
  - ls
  - cd js-packages
  - yarn install --prefer-offline --frozen-lockfile --cache-folder $YARN_CACHE_FOLDER
  script:
  - yarn format
  - yarn lint
  - yarn test
  - yarn build
  allow_failure: true

Build Latest JS Docker Images:
  image: docker:19.03.12
  stage: build-docker
  needs:
  - JS Format Lint Test and Build Check
  before_script:
  - docker login -u $CI_REGISTRY_USERNAME -p $CI_REGISTRY_PASSWORD $CI_REGISTRY_NAME
  script:
  ...

build osgi:
  image: gradle:6.8.2-jdk11
  stage: build
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - export M2_HOME=`pwd`/.m2
  - echo "$GRADLE_USER_HOME"
  - echo "$M2_HOME"
  script: ./gradlew clean buildDist
  cache:
    key: build-cache
    paths:
    - $CI_PROJECT_DIR/.m2/**/*
    - $CI_PROJECT_DIR/.gradle/**/*
  ...

Build Latest OSGI Docker Image:
  image: docker:19.03.12
  stage: build-docker
  needs:
  - build osgi
  before_script:
  - docker login -u $CI_REGISTRY_USERNAME -p $CI_REGISTRY_PASSWORD  $CI_REGISTRY_NAME
  - docker pull $CI_REGISTRY_NAME/openk9/apache-karaf:4.3.0
  script:
  - docker build -t openk9-core:latest -f osgi/Dockerfile .
  ...

Removed uLE in Admin
  js-packages/admin-ui/state.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Updated docusaurus version
  js-packages/docs-website/package.json
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Attempt to fix docker build for docs
  js-packages/docs-website/Dockerfile
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Refactored DataSourceNavBar
  js-packages/admin-ui/components/DataSourceNavBar.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/dataBrowser.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/settings.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added missing lockfile changes
  yarn.lock
Due: none

Build docs website on github actions
  .github/workflows/docker-publish-core.yml
Due: none

Fixed some lint warnings
  js-packages/admin-ui/components/DataSourceNavBar.tsx
  js-packages/admin-ui/pages/tenants.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added docs-website pod for kube
  js-packages/docs-website/docs-website-pod.yaml
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed typescript errors and config in admin
  js-packages/admin-ui/components/DataSourceNavBar.tsx
  js-packages/admin-ui/components/EditDataSource.tsx
  js-packages/admin-ui/components/NavSidebar.tsx
  js-packages/admin-ui/pages/_app.tsx
  js-packages/admin-ui/pages/login.tsx
  js-packages/admin-ui/pages/logs/[id].tsx
  js-packages/admin-ui/pages/plugins.tsx
  js-packages/admin-ui/pages/tenants.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/addDataSource.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/dataBrowser.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/settings.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/settings.tsx
  js-packages/admin-ui/tsconfig.json
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

querySourceBarShortcuts nullable
  js-packages/http-api/src/types/tenantTypes.ts
  js-packages/search-standalone-frontend/src/containers/SearchQueryInput.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed default cron expression
  js-packages/admin-ui/pages/tenants/[tenantId]/addDataSource.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed dropdown in admin tenants
  js-packages/admin-ui/pages/tenants.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

JS Plugin API refactor
  js-packages/admin-ui/components/EditDataSource.tsx
  js-packages/admin-ui/pages/plugins.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources.tsx
  js-packages/http-api/src/api/pluginsAPI.ts
  js-packages/http-api/src/types/pluginTypes.ts
  js-packages/search-standalone-frontend/src/containers/SearchResults.tsx
  js-packages/search-ui-components/src/components/ResultSidebar.tsx
  js-packages/search-ui-components/src/components/SearchResultsList.tsx
  js-packages/search-ui-components/src/utils/dynamicPluginLoader.ts
  plugins/applications/js/package.json
  plugins/applications/js/src/index.tsx
  plugins/email/js/package.json
  plugins/email/js/src/index.tsx
  plugins/liferay/js/package.json
  plugins/liferay/js/src/index.tsx
  plugins/web/js/package.json
  plugins/web/js/src/index.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images, build osgi, Build Latest OSGI Docker Image

Typo fix
  js-packages/search-standalone-frontend/src/state.ts
  plugins/liferay/js/src/index.tsx
  plugins/web/js/src/index.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images, build osgi, Build Latest OSGI Docker Image

Added default settings editor
  js-packages/admin-ui/components/DefaultSettingsEditor.tsx
  js-packages/admin-ui/components/EditDataSource.tsx
  js-packages/admin-ui/package.json
  yarn.lock
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added default config and dsn in plugins
  plugins/applications/js/src/index.tsx
  plugins/email/js/src/index.tsx
  plugins/liferay/js/src/index.tsx
  plugins/web/js/src/index.tsx
Due: build osgi, Build Latest OSGI Docker Image

Fixed plugin display names
  plugins/email/js/src/index.tsx
  plugins/liferay/js/src/index.tsx
  plugins/web/js/src/index.tsx
Due: build osgi, Build Latest OSGI Docker Image

Multiple ds settings memo
  js-packages/admin-ui/components/EditDataSource.tsx
  js-packages/http-api/src/api/pluginsAPI.ts
  js-packages/http-api/src/types/pluginTypes.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Publish
  js-packages/admin-logs-service/package.json
  js-packages/admin-ui/package.json
  js-packages/docs-website/package.json
  js-packages/http-api/package.json
  js-packages/plugin-scripts/package.json
  js-packages/search-standalone-frontend/package.json
  js-packages/search-ui-components/package.json
  plugins/applications/js/package.json
  plugins/email/js/package.json
  plugins/liferay/js/package.json
  plugins/web/js/package.json
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images, build osgi, Build Latest OSGI Docker Image

Back button for tenant editor
  js-packages/admin-ui/pages/tenants/[tenantId]/settings.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Toggle datasource shortcut
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources.tsx
  js-packages/http-api/src/api/datasourcesAPI.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Typo in email plugin js
  plugins/email/js/src/index.tsx
Due: build osgi, Build Latest OSGI Docker Image

Added login page to frontend
  js-packages/search-standalone-frontend/src/App.tsx
  js-packages/search-standalone-frontend/src/pages/LoginPage.tsx
  js-packages/search-standalone-frontend/src/pages/SearchPage.tsx
  js-packages/search-standalone-frontend/src/state.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added missing clay dep
  js-packages/search-standalone-frontend/package.json
  yarn.lock
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Refactor datasource buttons
  js-packages/admin-ui/components/DataSourceNavBar.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/dataBrowser.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/settings.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed login redirect bug
  js-packages/admin-ui/state.ts
  js-packages/search-standalone-frontend/src/state.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed login redirect behaviour
  js-packages/admin-ui/state.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Allow guest for frontend search #97
  js-packages/search-standalone-frontend/src/pages/SearchPage.tsx
  js-packages/search-standalone-frontend/src/state.ts
  js-packages/search-ui-components/src/components/Dockbar.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added requireLogin in tenant config
  js-packages/http-api/src/types/tenantTypes.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

WIP gradle tasks improvements, entity-manager-client and review
  build-dist.gradle
  configs/io.openk9.entity.manager.client.internal.EntityManagerClientImpl.cfg
  configs/io.openk9.plugins.web.driver.WebPluginDriver.cfg
  entity-manager/configs/io.openk9.neo4j.relationship.graph.Neo4jGraphConnection.cfg
  entity-manager/configs/org.apache.karaf.features.cfg
  osgi/common/core-api/src/main/java/io/openk9/core/api/constant/Constants.java
  osgi/common/reactor-agent/build.gradle
  osgi/common/serialization-api/src/main/java/io/openk9/json/api/JsonFactory.java
  osgi/common/serialization-service/src/main/java/io/openk9/json/internal/JsonFactoryImpl.java
  osgi/entity-manager/entity-manager-api/src/main/java/io/openk9/entity/manager/api/EntityGraphRepository.java
  osgi/entity-manager/entity-manager-client-api/bnd.bnd
  osgi/entity-manager/entity-manager-client-api/build.gradle
  osgi/entity-manager/entity-manager-client-api/src/main/java/io/openk9/entity/manager/client/api/EntityManagerClient.java
  osgi/entity-manager/entity-manager-client-service/bnd.bnd
  osgi/entity-manager/entity-manager-client-service/build.gradle
  osgi/entity-manager/entity-manager-client-service/src/main/java/io/openk9/entity/manager/client/internal/EntityManagerClientImpl.java
  osgi/entity-manager/entity-manager-model/bnd.bnd
  osgi/entity-manager/entity-manager-model/build.gradle
  osgi/entity-manager/entity-manager-model/src/main/java/io/openk9/entity/manager/model/Entity.java
  osgi/entity-manager/entity-manager-model/src/main/java/io/openk9/entity/manager/model/payload/EntityRequest.java
  osgi/entity-manager/entity-manager-model/src/main/java/io/openk9/entity/manager/model/payload/RelationRequest.java
  osgi/entity-manager/entity-manager-model/src/main/java/io/openk9/entity/manager/model/payload/Request.java
  osgi/entity-manager/entity-manager-model/src/main/java/io/openk9/entity/manager/model/payload/Response.java
  osgi/entity-manager/entity-manager-service/build.gradle
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/EntityGraphRepositoryImpl.java
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/EntityNameCleanerProviderImpl.java
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/OrganizationEntityNameCleaner.java
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/PersonEntityNameCleaner.java
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/GetOrAddEntitiesHttpHandler.java
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/controller/GetOrAddEntitiesService.java
  osgi/init-data/src/main/resources/datasource.json
  osgi/search/search-enrich-api/build.gradle
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/EnrichPipelineProcessor.java
  plugins/email/src/main/java/io/openk9/plugins/email/enrichprocessor/EmailNerEnrichProcessor.java
  plugins/liferay/src/main/java/io/openk9/plugins/liferay/enrichprocessor/LiferayNerEnrichProcessor.java
  plugins/web/src/main/java/io/openk9/plugins/web/enrichprocessor/WebNerEnrichProcessor.java
Due: build osgi, Build Latest OSGI Docker Image

Added jsonConfig field in tenant.json
  osgi/common/serialization-api/src/main/java/io/openk9/json/api/JsonFactory.java
  osgi/common/serialization-service/src/main/java/io/openk9/json/internal/JsonFactoryImpl.java
  osgi/init-data/src/main/resources/tenant.json
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
Due: build osgi, Build Latest OSGI Docker Image

Fix entity-manager-client response
  build-dist.gradle
  osgi/entity-manager/entity-manager-client-api/src/main/java/io/openk9/entity/manager/client/api/EntityManagerClient.java
  osgi/entity-manager/entity-manager-client-service/src/main/java/io/openk9/entity/manager/client/internal/EntityManagerClientImpl.java
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
Due: build osgi, Build Latest OSGI Docker Image

WIP
  build.gradle
  configs/io.openk9.neo4j.relationship.graph.Neo4jGraphConnection.cfg
  docker-compose.yml
  osgi/entity-manager/entity-manager-api/bnd.bnd
  osgi/entity-manager/entity-manager-api/build.gradle
  osgi/entity-manager/entity-manager-api/src/main/java/io/openk9/entity/manager/api/EntityGraphRepository.java
  osgi/entity-manager/entity-manager-api/src/main/java/io/openk9/entity/manager/api/EntityNameCleaner.java
  osgi/entity-manager/entity-manager-api/src/main/java/io/openk9/entity/manager/api/EntityNameCleanerProvider.java
  osgi/entity-manager/entity-manager-api/src/main/java/io/openk9/entity/manager/api/model/Entity.java
  osgi/entity-manager/entity-manager-service/bnd.bnd
  osgi/entity-manager/entity-manager-service/build.gradle
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/DefaultEntityNameCleaner.java
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/EntityGraphRepositoryImpl.java
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/EntityNameCleanerProviderImpl.java
  osgi/entity-manager/entity-manager-web/bnd.bnd
  osgi/entity-manager/entity-manager-web/build.gradle
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/GetOrAddEntitiesHttpHandler.java
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/controller/GetOrAddEntitiesService.java
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/payload/EntityRequest.java
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/payload/RelationRequest.java
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/payload/Request.java
  osgi/entity-manager/neo4j-relationship-graph-impl/bnd.bnd
  osgi/entity-manager/neo4j-relationship-graph-impl/src/main/java/io/openk9/neo4j/relationship/graph/Neo4jGraphConnection.java
  osgi/entity-manager/neo4j-relationship-graph-impl/src/main/java/io/openk9/neo4j/relationship/graph/client/Neo4jGraphClient.java
  osgi/entity-manager/neo4j-relationship-graph-impl/src/main/java/io/openk9/neo4j/relationship/graph/factory/PointFactoryImpl.java
  osgi/entity-manager/relationship-graph-api/bnd.bnd
  osgi/entity-manager/relationship-graph-api/src/main/java/io/openk9/relationship/graph/api/client/GraphClient.java
  osgi/entity-manager/relationship-graph-api/src/main/java/io/openk9/relationship/graph/api/client/Relationship.java
  osgi/entity-manager/relationship-graph-api/src/main/java/io/openk9/relationship/graph/api/util/Pair.java
Due: build osgi, Build Latest OSGI Docker Image

changed entityId
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/EntitySearchHTTPHandler.java
Due: build osgi, Build Latest OSGI Docker Image

fix and added ci for new components
  .gitlab/.gitlab-ci-core.yml
  .gitlab/.gitlab-ci-entity-manager.yml
  .gitlab/.gitlab-ci-index-writer.yml
  docker-compose.yml
  osgi/Dockerfile
  osgi/Dockerfile.core
  osgi/Dockerfile.em
  osgi/Dockerfile.iw
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/EntitySearchHTTPHandler.java
Due: build osgi, Build Latest OSGI Docker Image

typo
  osgi/entity-manager/entity-manager-api/src/main/java/io/openk9/entity/manager/api/Constants.java
Due: build osgi, Build Latest OSGI Docker Image

added new stopwords
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/OrganizationEntityNameCleaner.java
Due: build osgi, Build Latest OSGI Docker Image

refactored checkDisambiguate to cleanCandidates
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/GetOrAddEntitiesHttpHandler.java
Due: build osgi, Build Latest OSGI Docker Image

fixed main ci include file
  .gitlab/.gitlab-ci.yml
Due: none

Path conditions:
  JS Format Lint Test and Build Check: any of: js-packages/**/*
  Build Latest JS Docker Images: any of: js-packages/**/*
  build osgi: any of: osgi/**/*, plugins/**/*, build-dist.gradle
  Build Latest OSGI Docker Image: any of: osgi/**/*, plugins/**/*, build-dist.gradle
