Repository smclab/openk9: changes, and which GitLab CI jobs are due for each by the changed paths.
All: JS Format Lint Test and Build Check, Build Latest JS Docker Images, build osgi, Build Latest OSGI Docker Image

JS Format Lint Test and Build Check:
  image: node:13.13
  stage: quality
  before_script:
  - echo -e "$NPM_TOKEN" > ~/.npmrc
  - chmod 600  ~/.npmrc
  - cd openk9
  - ls
  - cd js-packages
  - yarn install --prefer-offline --frozen-lockfile --cache-folder $YARN_CACHE_FOLDER
  script:
  - yarn format
  - yarn lint
  - yarn test
  - yarn build
  allow_failure: true

Build Latest JS Docker Images:
  image: docker:19.03.12
  stage: build-docker
  needs:
  - JS Format Lint Test and Build Check
  before_script:
  - docker login -u $CI_REGISTRY_USERNAME -p $CI_REGISTRY_PASSWORD $CI_REGISTRY_NAME
  script:
  ...

build osgi:
  image: gradle:6.8.2-jdk11
  stage: build
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - export M2_HOME=`pwd`/.m2
  - echo "$GRADLE_USER_HOME"
  - echo "$M2_HOME"
  script: ./gradlew clean buildDist
  cache:
    key: build-cache
    paths:
    - $CI_PROJECT_DIR/.m2/**/*
    - $CI_PROJECT_DIR/.gradle/**/*
  ...

Build Latest OSGI Docker Image:
  image: docker:19.03.12
  stage: build-docker
  needs:
  - build osgi
  before_script:
  - docker login -u $CI_REGISTRY_USERNAME -p $CI_REGISTRY_PASSWORD  $CI_REGISTRY_NAME
  - docker pull $CI_REGISTRY_NAME/openk9/apache-karaf:4.3.0
  script:
  - docker build -t openk9-core:latest -f osgi/Dockerfile .
  ...

temporarily managed the thread pool with a single thread, to better manage ambiguous entities
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/GetOrAddEntitiesHttpHandler.java
Due: build osgi, Build Latest OSGI Docker Image

Modified entity json format
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
Due: build osgi, Build Latest OSGI Docker Image

fix object conversion to long
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/EntityGraphRepositoryImpl.java
Due: build osgi, Build Latest OSGI Docker Image

refactore entity query parser
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/parser/EntityQueryParser.java
Due: build osgi, Build Latest OSGI Docker Image

changes in docker-compose and entity-manager files
  .gitignore
  build-dist.gradle
  conf/neo4j.conf
  configs/io.openk9.plugins.web.driver.WebPluginDriver.cfg
  docker-compose.yml
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/GetOrAddEntitiesHttpHandler.java
  osgi/init-data/src/main/resources/datasource.json
  osgi/init-data/src/main/resources/enrich-item.json
Due: build osgi, Build Latest OSGI Docker Image

fix on Entity search
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/EntitySearchHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/parser/EntityQueryParser.java
Due: build osgi, Build Latest OSGI Docker Image

removed and in person search
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/PersonEntityNameCleaner.java
Due: build osgi, Build Latest OSGI Docker Image

fix entity json cration
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
Due: build osgi, Build Latest OSGI Docker Image

Added ignoreUnmapped=true to ignore documents without some fields
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/parser/EntityQueryParser.java
Due: build osgi, Build Latest OSGI Docker Image

fix casting
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
Due: build osgi, Build Latest OSGI Docker Image

Added more improvements in gradle build (docker build push ecc)
  build-dist.gradle
  build.gradle
Due: build osgi, Build Latest OSGI Docker Image

move cleanCandidates method in _getOrAddEntities
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/GetOrAddEntitiesHttpHandler.java
Due: build osgi, Build Latest OSGI Docker Image

used the previous structure in the entities field
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
Due: build osgi, Build Latest OSGI Docker Image

added immediate=true in SearchTokenizerImpl component
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/parser/SearchTokenizerImpl.java
Due: build osgi, Build Latest OSGI Docker Image

enabled nio for communication in rabbitmq
  osgi/ingestion/ingestion-service/src/main/java/io/openk9/ingestion/rabbitmq/RabbitMQActivator.java
Due: build osgi, Build Latest OSGI Docker Image

Migrated endpoints to new API paths
  js-packages/http-api/src/api/authAPI.ts
  js-packages/http-api/src/api/common.ts
  js-packages/http-api/src/api/datasourcesAPI.ts
  js-packages/http-api/src/api/entitiesAPI.ts
  js-packages/http-api/src/api/pluginsAPI.ts
  js-packages/http-api/src/api/searchAPI.ts
  js-packages/http-api/src/api/tenantsAPI.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

modified dependsOn on pushImage* task
  build.gradle
Due: none

added external queue binding
  build-dist.gradle
  osgi/index-writer/index-writer-mappings-consumer/src/main/java/io/openk9/index/writer/mappings/consumer/IndexWriterEventConsumerImpl.java
  osgi/index-writer/index-writer-mappings-pub-sub/bnd.bnd
  osgi/index-writer/index-writer-mappings-pub-sub/build.gradle
  osgi/index-writer/index-writer-mappings-pub-sub/src/main/java/io/openk9/index/writer/mappings/pub/sub/binding/MappingsBinding.java
  osgi/index-writer/index-writer-mappings-publisher-service/src/main/java/io/openk9/index/writer/mappings/publisher/publisher/IndexWriterEventPublisherImpl.java
Due: build osgi, Build Latest OSGI Docker Image

Migrated admin logs services to new path
  docker-compose-frontend.yml
  docker-compose.yml
  js-packages/http-api/src/api/logsAPI.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

added other docker-compose and config files
  datasource/configs/io.openk9.plugin.driver.manager.client.service.PluginDriverManagerClientImpl.cfg
  docker-compose-frontend.yml
  docker-compose-ml.yml
  docker-compose-parser.yml
  index-writer/configs/io.openk9.plugin.driver.manager.client.service.PluginDriverManagerClientImpl.cfg
  plugin-driver-manager/configs/io.openk9.plugins.web.driver.WebPluginDriver.cfg
  searcher/configs/io.openk9.plugin.driver.manager.client.service.PluginDriverManagerClientImpl.cfg
Due: none

modified findByVirtualHost return type
  osgi/datasource/datasource-client-api/src/main/java/io/openk9/datasource/client/api/DatasourceClient.java
  osgi/datasource/datasource-client-service/src/main/java/io/openk9/datasource/client/internal/DatasourceClientImpl.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/EntityNameHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/EntitySearchHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/SearchHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/SupportedDatasourcesEndpoint.java
Due: build osgi, Build Latest OSGI Docker Image

fixed reindex
  docker-compose-searcher.yml
  osgi/index-writer/index-writer-service/src/main/java/io/openk9/index/writer/internal/datasource/consumer/ReindexDatasourceConsumer.java
Due: build osgi, Build Latest OSGI Docker Image

added labelFilter for path expand and unique entities list parameter
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/GetOrAddEntitiesHttpHandler.java
Due: build osgi, Build Latest OSGI Docker Image

added organization and filter for organization
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/GetOrAddEntitiesHttpHandler.java
Due: build osgi, Build Latest OSGI Docker Image

added /api prefix on http services
  docker-compose-datasource.yml
  docker-compose-entity-manager.yml
  docker-compose-index-writer.yml
  docker-compose-ingestion.yml
  docker-compose-plugin-driver-manager.yml
  docker-compose-searcher.yml
Due: none

added /v1/search/{datasourceId} endpoint
  osgi/common/model/src/main/java/io/openk9/model/TenantDatasource.java
  osgi/datasource/datasource-client-api/src/main/java/io/openk9/datasource/client/api/DatasourceClient.java
  osgi/datasource/datasource-client-service/src/main/java/io/openk9/datasource/client/internal/DatasourceClientImpl.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/BaseSearchHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/EntityNameHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/EntitySearchHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/SearchByDatasourceHTTPHandler.java
  osgi/search/search-service/src/main/java/io/openk9/search/query/internal/http/SupportedDatasourcesEndpoint.java
Due: build osgi, Build Latest OSGI Docker Image

some fix in docker-compsoe files and cfg files
  .gitignore
  docker-compose-elasticsearch.yml
  docker-compose-frontend.yml
  docker-compose-keycloak.yml
  entity-manager/configs/io.openk9.entity.manager.http.GetOrAddEntitiesHttpHandler.cfg
  entity-manager/configs/io.openk9.search.client.internal.configuration.ElasticSearchConfigurationImpl.cfg
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/GetOrAddEntitiesHttpHandler.java
Due: build osgi, Build Latest OSGI Docker Image

added json config entity manager
  entity-manager/configs/io.openk9.entity.manager.http.GetOrAddEntitiesHttpHandler.json
Due: none

Added ConfigurationPlugin to manage OSGi Config via ENV variable
  build-dist.gradle
  osgi/config/enviroment-variable-propagation/bnd.bnd
  osgi/config/enviroment-variable-propagation/build.gradle
  osgi/config/enviroment-variable-propagation/src/main/java/io/openk9/env/variable/propagation/Openk9ConfigurationPlugin.java
Due: build osgi, Build Latest OSGI Docker Image

modified readTimeout for karaf download to infinity
  build.gradle
Due: none

added /v1/enrich-item/reorder endpoint
  osgi/datasource/datasource-web/src/main/java/io/openk9/datasource/internal/web/EnrichItemEndpoints.java
Due: build osgi, Build Latest OSGI Docker Image

added relations param in base ner and some script to start and stop docker-compose files
  docker-compose-ml.yml
  entity-manager/configs/io.openk9.entity.manager.http.GetOrAddEntitiesHttpHandler.cfg
  osgi/common/core-api/src/main/java/io/openk9/core/api/constant/Constants.java
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/GetOrAddEntitiesHttpHandler.java
  osgi/search/search-enrich-api/src/main/java/io/openk9/search/enrich/api/BaseNerEnrichProcessor.java
  start-openk9.sh
  stop-openk9.sh
Due: build osgi, Build Latest OSGI Docker Image

added karaf system dependencies
  build.gradle
  osgi/database/sql-scheduler/build.gradle
  osgi/database/sql-scheduler/src/main/java/io/openk9/sql/jdbc/service/InitSqlImpl.java
Due: build osgi, Build Latest OSGI Docker Image

modified ci with gradle task to push and build images
  .gitlab/.gitlab-ci-core.yml
  .gitlab/.gitlab-ci-entity-manager.yml
  .gitlab/.gitlab-ci-index-writer.yml
  .gitlab/.gitlab-ci.yml
Due: none

Upgrade dependencies and added reactor agent
  build.gradle
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/queue/ElasticSearchWriterBus.java
  osgi/entity-manager/entity-manager-web/bnd.bnd
  osgi/entity-manager/entity-manager-web/build.gradle
  osgi/entity-manager/entity-manager-web/src/main/java/io/openk9/entity/manager/http/GetOrAddEntitiesHttpHandler.java
  osgi/index-writer/index-writer-entity-model/src/main/java/io/openk9/index/writer/entity/model/DocumentEntityRequest.java
Due: build osgi, Build Latest OSGI Docker Image

Fix json config array comparison
  build-dist.gradle
  build.gradle
  entity-manager/configs/io.openk9.entity.manager.http.GetOrAddEntitiesHttpHandler.cfg
  osgi/fix/karaf-json-config-fix/bnd.bnd
  osgi/fix/karaf-json-config-fix/build.gradle
  osgi/fix/karaf-json-config-fix/src/main/java/io/openk9/karaf/json/config/fix/JsonConfigInstallerFix.java
Due: build osgi, Build Latest OSGI Docker Image

rename task
  build.gradle
Due: none

Path conditions:
  JS Format Lint Test and Build Check: any of: js-packages/**/*
  Build Latest JS Docker Images: any of: js-packages/**/*
  build osgi: any of: osgi/**/*, plugins/**/*, build-dist.gradle
  Build Latest OSGI Docker Image: any of: osgi/**/*, plugins/**/*, build-dist.gradle
