Repository smclab/openk9: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build osgi, Build Latest OSGI Docker Images, JS Format Lint Test and Build Check, Build Latest JS Docker Images, Build Latest OSGI Docker Image

Path conditions:
  build osgi: (any of: osgi/**/*, build-dist.gradle, plugins/web/src/**/*, plugins/email/src/**/*, plugins/liferay/src/**/*) or (any of: osgi/**/*, plugins/**/*, build-dist.gradle)
  Build Latest OSGI Docker Images: any of: osgi/**/*, build-dist.gradle, plugins/web/src/**/*, plugins/email/src/**/*, plugins/liferay/src/**/*
  JS Format Lint Test and Build Check: any of: js-packages/**/*
  Build Latest JS Docker Images: any of: js-packages/**/*
  Build Latest OSGI Docker Image: any of: osgi/**/*, plugins/**/*, build-dist.gradle

Fix: check if object is an array in the best way, the check on primitive types was incorrect
  osgi/fix/karaf-json-config-fix/src/main/java/io/openk9/karaf/json/config/fix/JsonConfigInstallerFix.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

use the correct method to define json source
  osgi/index-writer/index-writer-entity-web/src/main/java/io/openk9/index/writer/web/IndexWriterEndpoins.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

typo
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntitiesConsumer.java
  osgi/index-writer/index-writer-entity-client-api/src/main/java/io/openk9/index/writer/entity/client/api/IndexWriterEntityClient.java
  osgi/index-writer/index-writer-entity-client-service/src/main/java/io/openk9/index/writer/entity/client/internal/IndexWriterEntityClientImpl.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

managed error case
  osgi/index-writer/index-writer-entity-web/src/main/java/io/openk9/index/writer/web/IndexWriterEndpoins.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

check if current thread is NonBlocking
  osgi/ingestion/ingestion-service/src/main/java/io/openk9/ingestion/rabbitmq/bind/BindingServiceTrackerCustomizer.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

added org.reactivestreams Import-Package explicitally
  osgi/datasource/datasource-service/bnd.bnd
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

typo
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntitiesConsumer.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

added org.reactivestreams Import-Package explicitally
  osgi/datasource/datasource-api/bnd.bnd
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

added org.reactivestreams Import-Package explicitally
  osgi/search/search-api/bnd.bnd
  osgi/search/search-service/bnd.bnd
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

manage empty and error case
  osgi/index-writer/index-writer-entity-web/src/main/java/io/openk9/index/writer/web/IndexWriterEndpoins.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

added some config files
  docker-compose-datasource.yml
  docker-compose-entity-manager.yml
  docker-compose-index-writer.yml
  docker-compose-ingestion.yml
  docker-compose-ml.yml
  docker-compose-neo4j.yml
  docker-compose-parser.yml
  docker-compose-searcher.yml
  entity-manager/configs/config.properties
  entity-manager/configs/io.openk9.entity.manager.logic.GetOrAddEntitiesConsumer.k9
  entity-manager/configs/io.openk9.entity.manager.pub.sub.binding.internal.EntityManagerResponseBinding.k9
  plugin-driver-manager/configs/config.properties
  plugin-driver-manager/configs/io.openk9.entity.manager.pub.sub.binding.internal.EntityManagerResponseBinding.k9
Due: none

Added QueueService to manage queue deletion
  osgi/entity-manager/entity-manager-subscriber-service/src/main/java/io/openk9/entity/manager/subscriber/service/internal/EntityManagerResponseConsumerImpl.java
  osgi/ingestion/ingestion-api/src/main/java/io/openk9/ingestion/api/QueueService.java
  osgi/ingestion/ingestion-service/src/main/java/io/openk9/ingestion/rabbitmq/service/QueueServiceImpl.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

added org.reactivestreams Import-Package explicitally
  osgi/index-writer/index-writer-mappings-consumer/bnd.bnd
  osgi/index-writer/index-writer-mappings-pub-sub/bnd.bnd
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

changed ci and config files
  .gitlab/.gitlab-ci-core.yml
  docker-compose-datasource.yml
  docker-compose-elasticsearch.yml
  docker-compose-entity-manager.yml
  docker-compose-frontend.yml
  docker-compose-index-writer.yml
  docker-compose-ingestion.yml
  docker-compose-keycloak.yml
  docker-compose-ml.yml
  docker-compose-neo4j.yml
  docker-compose-parser.yml
  docker-compose-plugin-driver-manager.yml
  docker-compose-rabbitmq.yml
  docker-compose-searcher.yml
  entity-manager/configs/io.openk9.entity.manager.logic.GetOrAddEntitiesConsumer.k9
Due: none

added org.reactivestreams Import-Package explicitally
  osgi/auth/auth-keycloak-query-parser/bnd.bnd
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

now the osgi configurations of type json will be read with ".k9" extension
  entity-manager/configs/io.openk9.entity.manager.http.GetOrAddEntitiesHttpHandler.json
  entity-manager/configs/io.openk9.entity.manager.logic.GetOrAddEntitiesConsumer.k9
  entity-manager/configs/io.openk9.index.writer.entity.client.internal.IndexWriterEntityClientImpl.k9
  osgi/fix/karaf-json-config-fix/src/main/java/io/openk9/karaf/json/config/fix/JsonConfigInstallerFix.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

added docker tag creation
  build.gradle
  gradle.properties
Due: none

concatMap instead of flatMap for sequential invokation
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntitiesConsumer.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

added configurationListener in JsonConfigInstallerFix
  osgi/fix/karaf-json-config-fix/src/main/java/io/openk9/karaf/json/config/fix/JsonConfigInstallerFix.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

Fix elasticsearch entity creation
  osgi/entity-manager/entity-manager-logic/src/main/java/io/openk9/entity/manager/logic/GetOrAddEntitiesConsumer.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image

fix: tag naming in buildImage
  build.gradle
Due: none

changed image name in ci
  .gitlab/.gitlab-ci-core.yml
Due: none

deleted sh scripts
  start-openk9.sh
  stop-openk9.sh
Due: none

Added JS API wrappers for enrich
  js-packages/http-api/src/api/datasourcesAPI.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added enrich item in plugins
  js-packages/http-api/src/types/pluginTypes.ts
  plugins/email/js/src/index.tsx
  plugins/liferay/js/src/index.tsx
  plugins/web/js/src/index.tsx
Due: build osgi, JS Format Lint Test and Build Check, Build Latest JS Docker Images, Build Latest OSGI Docker Image

Fixed API path
  js-packages/http-api/src/api/datasourcesAPI.ts
  js-packages/http-api/src/api/searchAPI.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

added sonar ci job
  .gitlab/.gitlab-ci-core.yml
  .gitlab/.gitlab-ci.yml
  sonar-project.properties
Due: none

removed needs in java job
  .gitlab/.gitlab-ci-core.yml
Due: none

changed only to main in sonar job
  .gitlab/.gitlab-ci.yml
Due: none

Mute proptypes warning in clay dropdown
  js-packages/admin-ui/components/DataSourceNavBar.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Reorder enrich items with react-beautiful-dnd
  js-packages/admin-ui/package.json
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
  js-packages/http-api/src/api/datasourcesAPI.ts
  js-packages/search-ui-components/src/theme.tsx
  yarn.lock
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Mutate enrich order with swr during drag
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed enrich dnd error
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed wrong datasource API path after refactor
  js-packages/http-api/src/api/datasourcesAPI.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added JSONView component
  js-packages/admin-ui/components/JSONView.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/settings.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/settings.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Better json editor in tenant settings
  js-packages/admin-ui/pages/tenants/[tenantId]/settings.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Enrich Item edit
  js-packages/admin-ui/components/EnrichItemEdit.tsx
  js-packages/admin-ui/components/EnrichItemReorderStack.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
  js-packages/http-api/src/api/datasourcesAPI.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Enrich item delete button
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Typo
  osgi/datasource/datasource-web/src/main/java/io/openk9/datasource/internal/web/EnrichItemEndpoints.java
Due: build osgi, Build Latest OSGI Docker Images, Build Latest OSGI Docker Image
