Repository smclab/openk9: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Build Latest OSGI Docker Images, JS Format Lint Test and Build Check, Build Latest JS Docker Images, build osgi, Build Latest OSGI Docker Image

Build Latest OSGI Docker Images:
  image: smclab/docker-java-11:latest
  stage: build-docker
  script:
  - ./gradlew pushImages
  cache:
    key: build-docker-cache
    paths:
    - $CI_PROJECT_DIR/.m2/**/*
    - $CI_PROJECT_DIR/.gradle/**/*

JS Format Lint Test and Build Check:
  image: node:13.13
  stage: quality
  before_script:
  - echo -e "$NPM_TOKEN" > ~/.npmrc
  - chmod 600  ~/.npmrc
  - cd openk9
  - ls
  - cd js-packages
  - yarn install --prefer-offline --frozen-lockfile --cache-folder $YARN_CACHE_FOLDER
  script:
  - yarn format
  - yarn lint
  - yarn test
  - yarn build
  allow_failure: true

Build Latest JS Docker Images:
  image: docker:19.03.12
  stage: build-docker
  needs:
  - JS Format Lint Test and Build Check
  before_script:
  - docker login -u $CI_REGISTRY_USERNAME -p $CI_REGISTRY_PASSWORD $CI_REGISTRY_NAME
  script:
  ...

build osgi:
  image: gradle:6.8.2-jdk11
  stage: build
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - export M2_HOME=`pwd`/.m2
  - echo "$GRADLE_USER_HOME"
  - echo "$M2_HOME"
  script: ./gradlew clean buildDist
  cache:
    key: build-cache
    paths:
    - $CI_PROJECT_DIR/.m2/**/*
    - $CI_PROJECT_DIR/.gradle/**/*
  ...

Build Latest OSGI Docker Image:
  image: docker:19.03.12
  stage: build-docker
  needs:
  - build osgi
  before_script:
  - docker login -u $CI_REGISTRY_USERNAME -p $CI_REGISTRY_PASSWORD  $CI_REGISTRY_NAME
  - docker pull $CI_REGISTRY_NAME/openk9/apache-karaf:4.3.0
  script:
  - docker build -t openk9-core:latest -f osgi/Dockerfile .
  ...

if the commit is from the tag, pushImages will create an image with the same version of its name
  build.gradle
Due: none

added tagged osgi ci job
  .gitlab/.gitlab-ci-core.yml
Due: none

temporarly removed build and publish to npm job
  .gitlab/.gitlab-ci-js.yml
Due: none

added retries on karaf download
  build.gradle
Due: none

modified ci github for osgi
  .github/workflows/docker-publish-osgi.yml
  build.gradle
Due: none

fix ci github osgi
  .github/workflows/docker-publish-osgi.yml
Due: none

modified createDockerFile tasks
  build.gradle
Due: none

fix ci and changed docker-compose
  .github/workflows/docker-publish-osgi.yml
  docker-compose.yml
Due: none

Fix createDockerFile task
  build.gradle
Due: none

added /v1/script/groovy endpoint
  build-dist.gradle
  osgi/util/groovy-script-api/bnd.bnd
  osgi/util/groovy-script-api/build.gradle
  osgi/util/groovy-script-api/src/main/java/io/openk9/util/script/groovy/api/GroovyScriptExecutor.java
  osgi/util/groovy-script-service/bnd.bnd
  osgi/util/groovy-script-service/build.gradle
  osgi/util/groovy-script-service/src/main/java/io/openk9/util/script/groovy/internal/GroovyScriptExecutorImpl.java
  osgi/util/groovy-script-web/bnd.bnd
  osgi/util/groovy-script-web/build.gradle
  osgi/util/groovy-script-web/src/main/java/io/openk9/util/script/groovy/web/GroovyScriptHttpHandler.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

fix context ci github
  .github/workflows/docker-publish-osgi.yml
Due: none

added title to raw content in web parser
  plugins/web/web-parser/app/crawler/spiders/crawler_spider.py
Due: build osgi, Build Latest OSGI Docker Image

modified config files for osgi services
  entity-manager/configs/io.openk9.entity.manager.logic.GetOrAddEntitiesConsumer.k9
  entity-manager/configs/io.openk9.index.writer.entity.client.internal.IndexWriterEntityClientImpl.k9
  plugin-driver-manager/configs/io.openk9.plugins.email.driver.EmailPluginDriver.cfg
  plugin-driver-manager/configs/io.openk9.plugins.email.enrichprocessor.EmailNerEnrichProcessor.cfg
  plugin-driver-manager/configs/io.openk9.plugins.web.enrichprocessor.WebNerEnrichProcessor.cfg
  plugin-driver-manager/configs/staging-web-parser.yaml
  searcher/configs/io.openk9.datasource.client.internal.DatasourceClientImpl.cfg
Due: none

Added base path as env variable in admin ui
  js-packages/admin-ui/next.config.js
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

modified plugin config files
  plugin-driver-manager/configs/io.openk9.plugins.email.driver.EmailPluginDriver.cfg
  plugin-driver-manager/configs/io.openk9.plugins.email.enrichprocessor.EmailNerEnrichProcessor.cfg
  plugin-driver-manager/configs/io.openk9.plugins.web.driver.WebPluginDriver.cfg
  plugin-driver-manager/configs/io.openk9.plugins.web.enrichprocessor.WebNerEnrichProcessor.cfg
Due: none

added checkRoleGuest configuration ( default false ) #98
  osgi/auth/auth-keycloak-query-parser/src/main/java/io/openk9/auth/query/parser/AuthQueryParser.java
  searcher/configs/io.openk9.auth.query.parser.AuthQueryParser.k9
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Force datasourceId in invokeDataParser
  osgi/plugin-driver-manager/plugin-driver-manager-api/src/main/java/io/openk9/plugin/driver/manager/api/BasePluginDriver.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Added retry if deleteQueue results in an error
  osgi/entity-manager/entity-manager-subscriber-service/src/main/java/io/openk9/entity/manager/subscriber/service/internal/EntityManagerResponseConsumerImpl.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Added assetPrefix config for admin
  js-packages/admin-ui/next.config.js
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Better JSON view with error messages
  js-packages/admin-ui/components/JSONView.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed enrich api wrapper signatures
  js-packages/http-api/src/api/datasourcesAPI.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Add button in enrich and working reorder
  js-packages/admin-ui/components/EditEnrichItem.tsx
  js-packages/admin-ui/components/EnrichItemReorderStack.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Removed console.log in admin
  js-packages/admin-ui/components/DataSourceNavBar.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Better layout for enrich reorder
  js-packages/admin-ui/components/EnrichItemReorderStack.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fix for missing icon in enrich
  js-packages/admin-ui/components/EnrichItemReorderStack.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed admin multiple redirects
  js-packages/admin-ui/state.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Unified debounce function
  js-packages/search-standalone-frontend/src/state.ts
  js-packages/search-ui-components/src/utils/index.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Queue integration improvements
  osgi/entity-manager/entity-manager-pub-sub-binding/src/main/java/io/openk9/entity/manager/pub/sub/binding/internal/EntityManagerResponseBinding.java
  osgi/entity-manager/entity-manager-subscriber-service/src/main/java/io/openk9/entity/manager/subscriber/service/internal/EntityManagerResponseConsumerImpl.java
  osgi/ingestion/ingestion-api/src/main/java/io/openk9/ingestion/api/AcknowledgableDelivery.java
  osgi/ingestion/ingestion-api/src/main/java/io/openk9/ingestion/api/AcknowledgableMessage.java
  osgi/ingestion/ingestion-api/src/main/java/io/openk9/ingestion/api/Receiver.java
  osgi/ingestion/ingestion-api/src/main/java/io/openk9/ingestion/api/ReceiverReactor.java
  osgi/ingestion/ingestion-service/src/main/java/io/openk9/ingestion/rabbitmq/service/ReceiverImpl.java
  osgi/ingestion/ingestion-service/src/main/java/io/openk9/ingestion/rabbitmq/wrapper/DeliveryWrapper.java
  osgi/search/search-enrich-service/src/main/java/io/openk9/search/enrich/internal/EnrichProcessorServiceTracker.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

added missing classes
  osgi/ingestion/ingestion-service/src/main/java/io/openk9/ingestion/rabbitmq/wrapper/AcknowledgableDeliveryWrapper.java
  osgi/ingestion/ingestion-service/src/main/java/io/openk9/ingestion/rabbitmq/wrapper/AcknowledgableMessageImpl.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Added more error reporting in admin actions
  js-packages/admin-ui/components/DataSourceNavBar.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Refactored admin edit since API changed
  js-packages/admin-ui/components/EditDataSource.tsx
  js-packages/admin-ui/components/EditEnrichItem.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

WIP admin databrowser, muted in menu
  js-packages/admin-ui/components/DataSourceNavBar.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/dataBrowser.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed a bunch of lint warnings in admin
  js-packages/admin-ui/.eslintrc.js
  js-packages/admin-ui/components/ConfirmationModal.tsx
  js-packages/admin-ui/components/CronInput.tsx
  js-packages/admin-ui/components/EnrichItemReorderStack.tsx
  js-packages/admin-ui/components/Toasts.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/settings.tsx
  js-packages/admin-ui/state.ts
  js-packages/search-standalone-frontend/.eslintrc.js
  js-packages/search-ui-components/src/utils/index.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed lint warnings in frontend
  js-packages/search-standalone-frontend/src/App.tsx
  js-packages/search-standalone-frontend/src/state.ts
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Added JsEnrichProcessor
  plugins/js-enrich-plugin/bnd.bnd
  plugins/js-enrich-plugin/build.gradle
  plugins/js-enrich-plugin/js/package.json
  plugins/js-enrich-plugin/js/src/index.tsx
  plugins/js-enrich-plugin/src/main/java/io/openk9/plugins/js/enrichprocessor/JsEnrichProcessor.java
Due: build osgi, Build Latest OSGI Docker Image

Added js scripts executor
  .github/workflows/docker-publish-core.yml
  .gitlab/.gitlab-ci-js.yml
  docker-compose.yml
  js-packages/js-scripts-executor/.lintstagedrc
  js-packages/js-scripts-executor/Dockerfile
  js-packages/js-scripts-executor/README.md
  js-packages/js-scripts-executor/package.json
  js-packages/js-scripts-executor/src/index.ts
  js-packages/js-scripts-executor/tsconfig.json
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

JS Editor in admin panel for js-enrich-plugin
  plugins/js-enrich-plugin/js/package.json
  plugins/js-enrich-plugin/js/src/index.tsx
Due: build osgi, Build Latest OSGI Docker Image

Modified DefaultEntityNameClear and karaf version
  build.gradle
  osgi/database/sql-scheduler/build.gradle
  osgi/entity-manager/entity-manager-api/src/main/java/io/openk9/entity/manager/api/EntityNameCleaner.java
  osgi/entity-manager/entity-manager-service/src/main/java/io/openk9/entity/manager/internal/EntityNameCleanerProviderImpl.java
Due: Build Latest OSGI Docker Images, build osgi, Build Latest OSGI Docker Image

Fixed layout and typos in admin
  js-packages/admin-ui/components/EditEnrichItem.tsx
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/enrich.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Fixed minor lint error
  js-packages/admin-ui/pages/tenants/[tenantId]/dataSources/[datasourceId]/dataBrowser.tsx
Due: JS Format Lint Test and Build Check, Build Latest JS Docker Images

Path conditions:
  Build Latest OSGI Docker Images: any of: osgi/**/*, build-dist.gradle, plugins/web/src/**/*, plugins/email/src/**/*, plugins/liferay/src/**/*
  JS Format Lint Test and Build Check: any of: js-packages/**/*
  Build Latest JS Docker Images: any of: js-packages/**/*
  build osgi: any of: osgi/**/*, plugins/**/*, build-dist.gradle
  Build Latest OSGI Docker Image: any of: osgi/**/*, plugins/**/*, build-dist.gradle
